@import "tailwindcss";
body {
  font-family: 'Orbitron', sans-serif;
}
@keyframes gridMove {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px 600px;
  }
}

.animate-gridMove {
  animation: gridMove 3s linear infinite;
}
@keyframes fadeIn {
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease forwards;
}
@keyframes glowText {
  0% { text-shadow: 0 0 10px #ff0000; }
  50% { text-shadow: 0 0 40px #ff0000; }
  100% { text-shadow: 0 0 10px #ff0000; }
}

.glow-text {
  animation: glowText 2.5s infinite ease-in-out;
}